body {
    background-image: url('https://i.imgur.com/gtpxY36.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #072643;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@font-face {
  font-family: fontt;
  src: url('https://raw.githubusercontent.com/Gue3bara/Alexandria/master/documentation/Alexandria%20Folder/Document%20fonts/Alexandria-Black.ttf') format('truetype');
}

label {
  display: inline-block;
  position: fixed;
  left: -33px;
  width: 100%;
  height: 200%;
  top: 80px;
  margin: 30px; 
  text-align: center;
  font-size: 400%;
  font-family: fontt;
  text-shadow: 2px 2px 15px #072643;
  color: white;
}

#image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: black;
  }

input::placeholder {
    font-size: 15px;
    transform: translate(0px, 0px);
  }
  
input[type=submit] {
  background: url("https://i.imgur.com/KTJKyjH.png");
  background-repeat: no-repeat;
  background-position: 190px 19px;
  background-size: 14px 14px;
  transform: translate(0px, 221px);
  transform-origin: top left;
  border-radius: 80px;
  border: none;
  border: 2px inset #072643;
  width: 335px; 
  height: 53px;
  padding-right: 39px;
  text-align: center;
  background-color: #ECFF89; 
  line-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
 
input[type=text],
input[type=password] {
  font-size: 15px;
  transform: translate(0px, 217px);
  border: 2px inset #072643;
  border-radius: 80px;
  width: 290px; 
  height: 47px; 
  padding-right: 40px;
  text-indent: 20px;
  margin: 5px;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border-color: #ECFF89;
}

input[type=text] {
  background-image: url(x-icon.png);
  background-position: right center; 
  background-repeat: no-repeat;
}

input[type=password] {
  background-image: url(eye-icon.png); 
  background-position: right center;
  background-repeat: no-repeat;
}

form {
  text-align: center;
}